hostname, cpu cores, cpu count, vcpus, ram (mb), root disk size
{% for host in ansible_play_hosts %}
{{ host }},{{ hostvars[host]['ansible_facts']['processor_cores'] }},{{ hostvars[host]['ansible_facts']['processor_count'] }},{{ hostvars[host]['ansible_facts']['processor_vcpus'] }},{{ hostvars[host]['ansible_facts']['memtotal_mb'] }},{% for mounts in hostvars[host]['ansible_mounts'] %}{% if mounts['mount'] == '/' %}{{ mounts['size_total'] }}{% endif %}{% endfor %}{{ '\n' }}{% endfor %}
