hostname, cpu cores, cpu count, vcpus, ram (mb), disk size
{{ inventory_hostname }},{{ ansible_facts.processor_cores }},{{ ansible_facts.processor_count }},{{ ansible_facts.processor_vcpus }},{{ ansible_facts.memtotal_mb }},0
